
.vs/SswApplication/v17/.suo
.vs/SswApplication/v17/.futdcache.v2
.vs/SswApplication/FileContentIndex/ea5691ec-68a7-43b1-a163-d3c9ac205dfa.vsidx
.vs/SswApplication/FileContentIndex/e70fac4f-a886-46c6-9e1a-a3d266289830.vsidx
.vs/SswApplication/FileContentIndex/deb9d1c8-6fdb-4362-9c5a-0fa42eb3de1f.vsidx
.vs/SswApplication/FileContentIndex/bfc0ee34-b7fb-4caa-8f56-d22eac7126db.vsidx
.vs/SswApplication/FileContentIndex/8668358c-f371-4c72-891b-3d51d62287d2.vsidx
.vs/SswApplication/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/sswapplication.projects.v7.bin
.vs/ProjectEvaluation/sswapplication.metadata.v7.bin
.gitattributes
.vs/SswApplication/FileContentIndex/43ea88e3-e7d1-46a6-9f65-8577faee7abe.vsidx
.vs/SswApplication/FileContentIndex/90f45ea9-7fda-48be-bf36-ee884f4bd272.vsidx
.vs/SswApplication/FileContentIndex/ae667542-62ba-4e6b-9029-784efdfcadb9.vsidx
.vs/SswApplication/FileContentIndex/dfc575bf-b0e1-43eb-91f3-1379a085c0fd.vsidx
.vs/SswApplication/FileContentIndex/e37b3645-ebc4-4ecd-94f3-208cd5a5c248.vsidx
.vs/SswApplication/v17/DocumentLayout.json
SswApplication/.vs/ProjectEvaluation/sswapplication.metadata.v7.bin
SswApplication/.vs/ProjectEvaluation/sswapplication.projects.v7.bin
SswApplication/.vs/SswApplication/DesignTimeBuild/.dtbcache.v2
SswApplication/.vs/SswApplication/FileContentIndex/d572b47e-2d97-49c9-b6eb-45fffe8ca7fa.vsidx
SswApplication/.vs/SswApplication/v17/.futdcache.v2
SswApplication/.vs/SswApplication/v17/.suo
SswApplication/.vs/SswApplication/v17/DocumentLayout.json
*.bin
*.vsidx
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/SswApplication.exe
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/SswApplication.exe
*.exe
*.exe
*.exe
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/SswApplication.deps.json
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/SswApplication.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/SswApplication.exe
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/System.Composition.AttributedModel.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/System.Composition.Convention.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/System.Composition.Hosting.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/System.Composition.Runtime.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/System.Composition.TypedParts.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/vs.appxrecipe
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/SswApplication.build.appxrecipe
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/SswApplication.deps.json
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/SswApplication.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/SswApplication.exe
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/SswApplication.pdb
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/System.Composition.AttributedModel.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/System.Composition.Convention.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/System.Composition.Hosting.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/System.Composition.Runtime.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/System.Composition.TypedParts.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/SswApplication.deps.json
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/SswApplication.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/SswApplication.exe
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/vs.appxrecipe
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/SswApplication.build.appxrecipe
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/SswApplication.deps.json
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/SswApplication.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/SswApplication.exe
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/SswApplication.pdb
/SswApplication/bin
/SswApplication/bin
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/zh-HK/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/zh-Hant/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/zh-Hans/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/vi/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/uk/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/tr/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/th/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/sv/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/SswApplication.pdb
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/SswApplication.exe
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/SswApplication.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/SswApplication.deps.json
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/SswApplication.build.appxrecipe
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/sk/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/ru/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/ro/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/resources.pri
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/pt/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/pt-BR/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/pl/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/nl/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/nb/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/ms/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Microsoft.WinUI.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Microsoft.WindowsAppRuntime.Release.Net.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Microsoft.WindowsAppRuntime.Bootstrap.Net.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Microsoft.WindowsAppRuntime.Bootstrap.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Microsoft.Windows.Widgets.Projection.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Microsoft.Windows.System.Projection.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Microsoft.Windows.System.Power.Projection.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Microsoft.Windows.Security.AccessControl.Projection.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Microsoft.Windows.PushNotifications.Projection.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Microsoft.Windows.AppNotifications.Projection.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Microsoft.Windows.AppNotifications.Builder.Projection.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Microsoft.Windows.AppLifecycle.Projection.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Microsoft.Windows.ApplicationModel.WindowsAppRuntime.Projection.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Microsoft.Windows.ApplicationModel.Resources.Projection.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Microsoft.Windows.ApplicationModel.DynamicDependency.Projection.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Microsoft.Maui.Graphics.Win2D.WinUI.Desktop.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Microsoft.Maui.Graphics.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Microsoft.Maui.Essentials.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Microsoft.Maui.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Microsoft.Maui.Controls.Xaml.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Microsoft.Maui.Controls.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Microsoft.Maui.Controls.Compatibility.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Microsoft.InteractiveExperiences.Projection.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Microsoft.Graphics.Canvas.Interop.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Microsoft.Graphics.Canvas.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Microsoft.AspNetCore.Components.WebView.Maui.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/ko/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/JavaScript/output.json
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/ja/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/it/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/id/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/hu/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/hr/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/hi/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/he/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/fr/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/fi/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/es/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/el/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/de/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/da/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/CsvHelper.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/cs/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/ca/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/ar/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppxManifest.xml
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/zh-HK/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/zh-Hant/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/zh-Hans/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/wwwroot/SswApplication.styles.css
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/wwwroot/SswApplication.bundle.scp.css
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/wwwroot/js/terrain.js
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/wwwroot/js/propagation.js
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/wwwroot/js/output.json
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/wwwroot/index.html
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/wwwroot/css/app.css
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/vs.appxrecipe
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/vi/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/uk/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/tr/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/th/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/sv/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/SswApplication.exe
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/SswApplication.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/SswApplication.deps.json
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/splashSplashScreen.scale-400.png
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/splashSplashScreen.scale-200.png
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/splashSplashScreen.scale-150.png
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/splashSplashScreen.scale-125.png
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/splashSplashScreen.scale-100.png
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/sk/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/ru/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/ro/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/resources.pri
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/pt/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/pt-BR/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/pl/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/nl/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/nb/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/ms/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Microsoft.WinUI.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Microsoft.WindowsAppRuntime.Release.Net.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Microsoft.WindowsAppRuntime.Bootstrap.Net.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Microsoft.WindowsAppRuntime.Bootstrap.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Microsoft.Windows.Widgets.Projection.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Microsoft.Windows.System.Projection.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Microsoft.Windows.System.Power.Projection.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Microsoft.Windows.Security.AccessControl.Projection.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Microsoft.Windows.PushNotifications.Projection.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Microsoft.Windows.AppNotifications.Projection.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Microsoft.Windows.AppNotifications.Builder.Projection.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Microsoft.Windows.AppLifecycle.Projection.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Microsoft.Windows.ApplicationModel.WindowsAppRuntime.Projection.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Microsoft.Windows.ApplicationModel.Resources.Projection.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Microsoft.Windows.ApplicationModel.DynamicDependency.Projection.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Microsoft.Maui.Graphics.Win2D.WinUI.Desktop.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Microsoft.Maui.Graphics.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Microsoft.Maui.Essentials.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Microsoft.Maui.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Microsoft.Maui.Controls.Xaml.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Microsoft.Maui.Controls.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Microsoft.Maui.Controls.Compatibility.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Microsoft.InteractiveExperiences.Projection.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Microsoft.Graphics.Canvas.Interop.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Microsoft.Graphics.Canvas.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Microsoft.AspNetCore.Components.WebView.Maui.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/ko/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/JavaScript/output.json
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/ja/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/it/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/id/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/hu/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/hr/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/hi/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/he/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/fr/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/fi/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/es/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/el/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/de/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/da/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/CsvHelper.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/cs/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/ca/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/ar/Microsoft.Maui.Controls.resources.dll
SswApplication/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/AppxManifest.xml
/SswApplication/CodeSource/GUI
/SswApplication/obj/
/SswApplication/bin/
/SswApplication/CodeSource/GUI/
/SswApplication/CodeSource/post_processing/
