
.vs/SswApplication/v17/.suo
.vs/SswApplication/v17/.futdcache.v2
.vs/SswApplication/FileContentIndex/ea5691ec-68a7-43b1-a163-d3c9ac205dfa.vsidx
.vs/SswApplication/FileContentIndex/e70fac4f-a886-46c6-9e1a-a3d266289830.vsidx
.vs/SswApplication/FileContentIndex/deb9d1c8-6fdb-4362-9c5a-0fa42eb3de1f.vsidx
.vs/SswApplication/FileContentIndex/bfc0ee34-b7fb-4caa-8f56-d22eac7126db.vsidx
.vs/SswApplication/FileContentIndex/8668358c-f371-4c72-891b-3d51d62287d2.vsidx
.vs/SswApplication/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/sswapplication.projects.v7.bin
.vs/ProjectEvaluation/sswapplication.metadata.v7.bin
.gitattributes
