
.vs/SswApplication/v17/.suo
.vs/SswApplication/v17/.futdcache.v2
.vs/SswApplication/FileContentIndex/ea5691ec-68a7-43b1-a163-d3c9ac205dfa.vsidx
.vs/SswApplication/FileContentIndex/e70fac4f-a886-46c6-9e1a-a3d266289830.vsidx
.vs/SswApplication/FileContentIndex/deb9d1c8-6fdb-4362-9c5a-0fa42eb3de1f.vsidx
.vs/SswApplication/FileContentIndex/bfc0ee34-b7fb-4caa-8f56-d22eac7126db.vsidx
.vs/SswApplication/FileContentIndex/8668358c-f371-4c72-891b-3d51d62287d2.vsidx
.vs/SswApplication/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/sswapplication.projects.v7.bin
.vs/ProjectEvaluation/sswapplication.metadata.v7.bin
.gitattributes
.vs/SswApplication/FileContentIndex/43ea88e3-e7d1-46a6-9f65-8577faee7abe.vsidx
.vs/SswApplication/FileContentIndex/90f45ea9-7fda-48be-bf36-ee884f4bd272.vsidx
.vs/SswApplication/FileContentIndex/ae667542-62ba-4e6b-9029-784efdfcadb9.vsidx
.vs/SswApplication/FileContentIndex/dfc575bf-b0e1-43eb-91f3-1379a085c0fd.vsidx
.vs/SswApplication/FileContentIndex/e37b3645-ebc4-4ecd-94f3-208cd5a5c248.vsidx
.vs/SswApplication/v17/DocumentLayout.json
SswApplication/.vs/ProjectEvaluation/sswapplication.metadata.v7.bin
SswApplication/.vs/ProjectEvaluation/sswapplication.projects.v7.bin
SswApplication/.vs/SswApplication/DesignTimeBuild/.dtbcache.v2
SswApplication/.vs/SswApplication/FileContentIndex/d572b47e-2d97-49c9-b6eb-45fffe8ca7fa.vsidx
SswApplication/.vs/SswApplication/v17/.futdcache.v2
SswApplication/.vs/SswApplication/v17/.suo
SswApplication/.vs/SswApplication/v17/DocumentLayout.json
